@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-8 py-3 text-sm rounded-lg  focus:outline-none focus:ring-2 focus:ring-secondary hover:bg-secondary transition duration-300 ease-out focus:border-opacity-0 border border-primary hover:border-opacity-0 hover:shadow-lg;
}

.card {
    @apply flex items-center gap-10 w-11/12 p-2 transform hover:-translate-y-6 bg-gray-100 hover:shadow-xl rounded-xl transition duration-500 ease-in-out;
}

.partner {
    @apply flex flex-col items-center justify-center bg-white rounded-lg shadow-md w-56 py-8 hover:shadow-xl transition-shadow duration-300 ease-in-out z-10;
}

@font-face {
    font-family: "firago";
    font-weight: 400;
    src: local("Firago"), url(../fonts/firago-regular.woff2) format("woff2");
}

@font-face {
    font-family: "firago";
    font-weight: 300;
    src: local("Firago"), url(../fonts/firago-light.woff2) format("woff2");
}

@font-face {
    font-family: "firago";
    font-weight: 500;
    src: local("Firago"), url(../fonts/firago-medium.woff2) format("woff2");
}

@font-face {
    font-family: "firago";
    font-weight: 700;
    src: local("Firago"), url(../fonts/firago-bold.woff2) format("woff2");
}
